---
import { sanityClient } from "sanity:client";
import type { BreadcrumbItem } from "@/components/Breadcrumbs.astro";
import TableOfContents from "@/components/TableOfContents.astro";
import PortableText from "@/components/text/PortableText.astro";
import ProseLayout from "@/layouts/ProseLayout.astro";
import { extractHeadings } from "@/sanity/lib/extractHeadings";
import { GUIDE_BY_SLUG_QUERY } from "@/sanity/queries";

const { slug } = Astro.params;
if (!slug) return Astro.redirect("/404");

const guide = await sanityClient.fetch(GUIDE_BY_SLUG_QUERY, { slug });
if (!guide) return Astro.redirect("/404");

const headings = extractHeadings(guide.content);

const breadcrumbs: BreadcrumbItem[] = [
  { label: "Namesake", href: "/" },
  { label: "Guides", href: "/guides" },
];

const formatter = new Intl.DateTimeFormat("en-US", {
  dateStyle: "full",
  timeStyle: "short",
});

const formattedDate = formatter.format(new Date(guide._updatedAt));
---

<ProseLayout
  title={guide.title}
  description={guide.description}
  annotation="box"
  breadcrumbs={breadcrumbs}
  color="white"
>
  <TableOfContents headings={headings} slot="toc" />
  <PortableText value={guide.content} />
  <div class="date-updated">
    Page last edited on {" "}
    <time datetime={guide._updatedAt}>{formattedDate}</time>.
  </div>
</ProseLayout>

<style>
  .date-updated {
    margin-block-start: var(--space-3xl);
    padding-block-start: var(--space-s);
    border-top: 0.5px solid var(--text-color);
    font-size: var(--step--1);
  }
</style>
