---
import { sanityClient } from "sanity:client";
import ArticleLink from "@/components/ArticleLink.astro";
import PageHeader from "@/components/PageHeader.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { PRESS_ARTICLES_QUERY } from "@/sanity/queries";

const { params } = Astro.props;

const pressArticles = await sanityClient.fetch(
  PRESS_ARTICLES_QUERY,
  params ?? {},
);
---

<BaseLayout
  title="Press"
  description="Browse recent media coverage and press releases about Namesake."
  color="green"
>
  <PageHeader title="Press" />
  <div class="articles">
    {
      pressArticles.length ? (
        pressArticles.map((article) => (
          <ArticleLink
            title={article.title}
            date={article.date}
            url={article.url}
            subhead={article.outlet}
            image={article.image}
          />
        ))
      ) : (
        <p>No press articles found.</p>
      )
    }
  </div>
</BaseLayout>

<style lang="scss">
  .articles {
    padding-bottom: var(--space-3xl);
    columns: 2;
    column-gap: var(--space-3xl);

    @media (width < 800px) {
      columns: 1;
    }
  }
</style>
