---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  title: string;
  date: Date | string;
  url: string;
  subhead?: string;
  authors?: string[] | null;
  description?: string;
  image?: ImageMetadata | null;
  imageAlt?: string | null;
}

const { title, date, url, subhead, authors, description, image, imageAlt } =
  Astro.props;

const dateObj = new Date(date);
const formattedDate = new Intl.DateTimeFormat("en-US", {
  timeZone: "UTC",
  month: "long",
  day: "numeric",
  year: "numeric",
}).format(dateObj);
---

<article class="article">
  <time class="date" datetime={dateObj.toISOString()}>
    {formattedDate}
  </time>
  {subhead && <strong class="subhead">{subhead}</strong>}
  <h2 class="title">
    <a href={url} class="title-text">{title}</a>
  </h2>
  {authors && <strong class="authors">By {authors.join(", ")}</strong>}
  {description && <p class="description">{description}</p>}
  {
    image && (
      <a class="image" href={url} tabindex="-1">
        <Image src={image} alt={imageAlt ?? ""} width={800} densities={[1, 2]} />
      </a>
    )
  }
</article>

<style lang="scss">
  .article {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--space-2xs);
    break-inside: avoid;

    &:not(:last-child) {
      padding-block-end: var(--space-2xl);
    }
  }

  .title {
    font-size: var(--step-3);
    font-weight: var(--weight-bold);
    max-width: 36ch;
    text-wrap: balance;
    hyphens: auto;
    margin-block-end: var(--space-xs);
  }

  .title,
  .date,
  .subhead {
    z-index: 1;
  }

  .title,
  .title-text {
    line-height: var(--line-height-display);
  }

  .description {
    text-wrap: pretty;
    max-width: 48ch;
  }

  .image {
    order: -1;
    max-width: 600px;
    margin-block-end: var(--space-s);
    filter: grayscale(100%);
    mix-blend-mode: luminosity;
    transform: translate3d(0, 0, 0); // Safari bugfix

    img {
      border-radius: 3px;
    }
  }
</style>
