---
import { RiPencilLine } from "@remixicon/react";
import { siteInfo } from "../constants/site-info.ts";

interface Props {
  filePath: string;
  lastModified: string;
}

const { filePath, lastModified } = Astro.props;

const editUrl = `${siteInfo.editBaseUrl}${filePath}`;
const historyUrl = `${siteInfo.historyBaseUrl}${filePath}`;

const displayDate = new Date(lastModified).toLocaleDateString("en-US", {
  year: "numeric",
  month: "short",
  day: "numeric",
});
---

<footer>
  <a href={editUrl} class="edit-link">
    <RiPencilLine size={20} />Edit this page
  </a>
  <small
    >Last modified <a href={historyUrl}
      ><time datetime={lastModified}>{displayDate}</time></a
    ></small
  >
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--step--1);
    padding-block: var(--space-m);
    border-block-start: 1px solid var(--border-color);
    margin-block-start: var(--space-2xl);
  }

  .edit-link {
    display: inline-flex;
    gap: var(--space-xs);
    align-items: center;
  }
</style>
